<div id='overlay'></div>
  <div id='modal'>
    <div id='content'>
      <h3>Please log in with Github to proceed </h3>
      <p>(click the octocat... go ahead. dooooooo it)</p>
      <p style="font-size:80%">(No seriously, you don't have a choice)<p>
      <div class="octocat">
        <%= link_to image_tag("octocat.png"), '/auth/github' %>
      </div>
    </div>
</div>