<ul>
<% @challenges.each do |challenge| %>
  <% if challenge.interactive %>
    <li><%= link_to challenge.title, "/challenges/#{challenge.id}/interactive" %></li>
  <% else %>
    <li> <%= link_to challenge.title, challenge %> </li>
  <% end %>
<% end %>
</ul>
