<div class="container">
  <h1><%= @challenge.title %></h1>
  <div class = 'start-button'>
    <%= button_to "Start Challenge", { action: "create", :id => @challenge.id, :controller=> "attempts"}, :remote => true %>
  </div>
  <%= @markdown.html_safe %>
</div>

