<div class="container">
  <h1 class="challenge"><%= @challenge.title.capitalize %></h1><span class="challenge">Challenge</span>
  <div class = 'start-button'>
    <%= button_to "Start Challenge", { action: "create", :id => @challenge.id, :controller=> "attempts"}, :remote => true, class: "btn btn-success" %>
  </div>
  <%= @markdown.html_safe %>
</div>

