.well.well-small {
  width: 200px;
  margin-right: 30px;
}

.span3{
  width: 230px;
}

.gravitars li {
  display: inline;
}

.span9 {
  ul {
  margin: 0 0 0px 25px;
  }
  .table th,
  .table td {
  line-height: 26px;
  }
}
