span.challenge {
  color: #999;
  font-size: 1.4em;
  padding-left: 20px;
}

h1.challenge {
  display: inline;
}

span.well-small {
  padding-right: 5px;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

input.challenge_form {
  margin-left: -30px;
  padding-left: 0;
}


div.start-button {
  padding-top: 30px;
}
